[submodule "paper"]
	path = paper
	url = https://git@git.overleaf.com/6934053f251c5bb3c8838300
[submodule "paper_nonlinear"]
	path = paper_nonlinear
	url = https://git@git.overleaf.com/699b6ada8a0bdc986b92039e
[submodule "paper_wfl"]
	path = paper_wfl
	url = https://git@git.overleaf.com/69de1666dbd509279baa7a9a
[submodule "paper_informativity"]
	path = paper_informativity
	url = https://git@git.overleaf.com/69e4d703099a1dca3fba2dca
[submodule "paper_wfl2"]
	path = paper_wfl2
	url = https://git@git.overleaf.com/6a1ddffdec1278844f08f1f5
[submodule "paper_wfl1"]
	path = paper_wfl1
	url = https://git@git.overleaf.com/6a61e37d4290b2446784f119
